<html>
    <body>
        <ul>
            <li>
                <a href="journals">Sessions</a>
            </li>
        </ul>


        <h1>
            Welcome to <%=title%>
        </h1>

        <ul>
            <% data.map((element) => {
                %><li><%=element%></li><%
            })

            %>
        </ul>
    </body>
</html>