<nav class="bg-white shadow">
    <div class="mx-auto max-w-full px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-between">
            <div class="flex">
                <div class="flex flex-shrink-0 items-center">
                    <h1 class="font-bold text-blue-700">Emotional Tracker</h1>
                </div>
                <div class="hidden md:ml-6 md:flex md:space-x-8">
                    <a href="/journals"
                       class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium text-gray-500 hover:border-blue-300 hover:text-blue-700">Journals</a>
                    <a href="/journals/overview"
                       class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium text-gray-500 hover:border-blue-300 hover:text-blue-700">Overview</a>
                </div>
            </div>
            <div class="flex items-center">
                <a type="button"
                   href="/logout"
                   class="relative inline-flex  gap-x-1.5 rounded-md bg-neutral-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-neutral-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Logout
                </a>
            </div>
        </div>
    </div>

    <div class="md:hidden" id="mobile-menu">
        <div class="space-y-1 pb-3 pt-2">
            <a href="#"
               class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-blue-50 hover:text-gray-700 sm:pl-5 sm:pr-6">Journals</a>
            <a href="#"
               class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-blue-50 hover:text-gray-700 sm:pl-5 sm:pr-6">Overview</a>
        </div>
    </div>
</nav>
